alabaster==0.7.12
anime-downloader==5.0.5
anytree==2.8.0
apipkg==1.5
appdirs==1.4.4
asn1crypto==1.4.0
attrs==21.2.0
Babel==2.9.1
Beaker==1.11.0
beautifulsoup4==4.9.3
Brlapi==0.8.2
btrfsutil==5.12.1
CacheControl==0.12.6
ccsm==0.9.14.1
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.5
cfscrape==2.1.1
chardet==4.0.0
click==8.0.1
colorama==0.4.4
coloredlogs==15.0
compizconfig-python==0.9.14.1
contextlib2==0.6.0.post1
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.23
decorator==5.0.9
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docutils==0.16
entrypoints==0.3
evdev==1.4.0
flake8==3.9.2
fuzzywuzzy==0.18.0
gmpy2==2.1.0b5
html5lib==1.1
humanfriendly==9.1
idna==3.1
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.0.1
include-server==3.4
iniconfig==1.1.1
isc==2.0
Jinja2==3.0.1
kiwisolver==1.3.1
lensfun==0.3.95
libfdt==1.6.0
lightdm-gtk-greeter-settings==1.2.2
lit==0.10.1.dev0
llvmlite==0.36.0
louis==3.17.0
lutris==0.5.8.3
lxml==4.6.3
Mako==1.1.4
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
Mathics-Scanner==1.2.0
Mathics3==2.2.0
matplotlib==3.4.1
mccabe==0.6.1
meson==0.58.0
more-itertools==8.7.0
mpmath==1.2.1
msgpack==1.0.2
mugshot==0.4.3
namcap==3.2.10
netsnmp-python==1.0a1
networkx==2.5.1
numpy==1.20.3
ordered-set==4.0.2
packaging==20.9
palettable==3.3.0
pep517==0.10.0
pexpect==4.8.0
Pillow==8.2.0
Pint==0.16.1
pluggy==0.13.1
ply==3.11
pooch==0+untagged.3.g8f5abde
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
py==1.10.0
pyalpm==0.10.2
pycairo==1.20.0
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pyelftools==0.27
pyflakes==2.3.1
Pygments==2.9.0
PyGObject==3.40.1
pyinotify==0.9.6
pyOpenSSL==20.0.1
pyparsing==2.4.7
pySmartDL==1.3.4
pytest==6.2.4
pytest-check==1.0.1
pytest-cov==2.12.0
pytest-flake8==1.0.7
pytest-localserver==0.5.0
python-dateutil==2.8.1
python-distutils-extra==2.39
python-pam==1.8.4
python-xapp==2.2.0
pytz==2021.1
pywal==3.3.0
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.4.1
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
requests==2.25.1
requests-cache==0.5.2
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
scikit-image==0.18.1
scipy==1.6.3
SCons==4.1.0
setproctitle==1.2.2
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.0.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.8
tabulate==0.8.9
team==1.0
tifffile==2021.4.8
tinycss2==1.1.0
toml==0.10.2
tqdm==4.61.0
ujson==4.0.2
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==2.0.1
wordcloud==1.8.1
xdot==1.1
youtube-dl==2021.5.16
zipp==3.4.1
